# Object files
*.o
*.ko
*.obj
*.elf
diag
vert
spiral

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
anns/bp
dtree/c4.5-src/Src/average
dtree/c4.5-src/Src/c4.5
dtree/c4.5-src/Src/c4.5rules
dtree/c4.5-src/Src/consult
dtree/c4.5-src/Src/consultr
dtree/c4.5-src/Src/xval-prep
gen/parallel
gen/diagonal
gen/spiral

# Debug files
*.dSYM/
*.su
*.log

# Data files
anns/datasets/*.test
anns/datasets/*.report
anns/datasets/*.predic
anns/datasets/*.mse
anns/datasets/*.net
dtree/datasets/parallel*
dtree/datasets/diagonal*
gen/*.names
gen/*.data
*.tree
*.unpruned
*.pdf
